* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.header {
 padding: 30px;
  text-align: center;
  background-color: #066106;
  color: #ffffff;
}

.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  text-align: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}
.container {
  flex: 80%;
  background-color: #fff;
  padding: 20px;
}

.fakeimg {
  background-color: #aaaaaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
@media screen and (max-width: 700px) {
  .main, .navbar {
    flex-direction: column;
  }
}
